<nav class="max-width-4 mx-auto mb3">
  <a href="/" class='text-decoration-none'>  
    <h1 class='kumar-one inline'>IcyPhotos</h1>
  </a>
  <ul class='inline right'>
    <li>
      <a href='/upload' class='text-decoration-none kumar-one'>
        <i class="fa fa-upload" aria-hidden="true"></i>
        Upload
      </a>
    </li>
  </ul>
  <a href='https://nodejs.org/' target='_blank' id='lnk-node-brand'>
    <div id='node-brand' class='absolute top-0 right-0 m1'></div>
  </a>
</nav>